@model benimalisverissitem.Models.Products

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barkod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barkod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eklenmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KategoriId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedenID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedenID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenkID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenkID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinsiyetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinsiyetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MagazaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagazaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Il_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Il_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ilce_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilce_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KampanyaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KampanyaID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
