@model IEnumerable<benimalisverissitem.Models.ProductModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Yeni Ürün Ekle", "Create",null,new { @class = "btn btn-primary" })
</p>
@if(TempData["Products"]!=null)
{
    var products = (benimalisverissitem.Models.Products)TempData["Products"];
    <div class="alert alert-success" role="alert">
        <strong><span class="glyphicon glyphicon-ok"></span></strong> Ürün başarıyla güncellendi

    </div>
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barkod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eklenmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.kategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedenID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RenkID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CinsiyetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Il_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ilce_ID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IndirimID)
        </th>*@
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    <div class="col-sm-6">
        <span>
            @User.Identity.Name
        </span>
    </div>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barkod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eklenmeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedenID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RenkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinsiyetID)
            </td>
            <td>
                <img src="@Url.Content(item.Resim)" widh="75" height="75" />

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Il_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilce_ID)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IndirimID)
            </td>*@
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
            </td>
            <td>
                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
